{% extends "base.html" %}

{% block title %}
    Edit machine {{ machine.result }}
{% endblock %}

{% block content%}
    <form action="{{ url_for('update_machine', id=machine.id, __METHOD_OVERRIDE__='PUT') }}" method="post" accept-charset="utf-8">
        <p>
            <label for="result">Result:</label>
            <input type="integer" result="result" value="{{ machine.result }}" id="result"/>
        </p>
        <p><input type="submit" value="Save!"/></p>
    </form>
{% endblock %}
