{% extends "base.html" %}

{% block body %}
<h2>Welcome</h2>

{% if current_user.is_authenticated() %}
<p>You are authorized to access <a href="{{ url_for('new_machine') }}">the secret information</a>.
{% else %}
<p>This Web site contains secret information available only to authorized users.
Available usernames are Notch, Steve, and Creeper.
{% endif %}
{% endblock body %}
