{% extends "base.html" %}

{% block title %}
    Machines list
{% endblock %}

{% block content %}

    {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
    {% endfor %}

    <ul>
        {% for machine in machines %}
            <li>{{ machine.id }} - {{ machine.result }} - {{machine.time}} (<a href="{{ url_for('delete_machine', id=machine.id, __METHOD_OVERRIDE__='DELETE') }}">Delete</a>)
 </li>
        {% endfor %}
    </ul>
{% endblock %}
