{% extends "base.html" %}

{% block body %}
  <h2>Login</h2>
  <form action="" method=post>
    <dl>
      <dt>Username:
      <dd><input type=text name=username>
      <dt>Remember Me:
      <dd><input type=checkbox name=remember value=yes>
      <dd><input type=submit value=Login>
    </dl>
  </form>
{% endblock %}
