{% extends "base.html" %}

{% block title %}
    New machine form
{% endblock %}

{% block content%}
    <form action="{{ url_for('create_machine') }}" method="post" accept-charset="utf-8">
        <p>
            <label for="result">Result:</label>
            <input type="integer" result="result" value="{{ machine_name }}" id="result"/>
        </p>
        <p><input type="submit" value="Save!"/></p>
    </form>
{% endblock %}
