{% extends "base.html" %}

{% block title %}
    Show book {{ machine.result }}
{% endblock %}

{% block content %}
    
    {% for msg in get_flashed_messages() %}
        <p>{{ msg }}</p>
    {% endfor %}

    <h1 id="">Machine</h1>

    <p>
        <strong>Id:</strong> {{ machine.id }}<br />
        <strong>Result:</strong> {{ machine.name }}<br />
		<strong>Time</strong>{{ machine.time }}
    </p>
{% endblock %}
